*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    width: 400px;
    border: solid 3px rgb(190, 190, 205);
    border-radius: 8px;
    background-color: #f4f4f4;
    
}

button{
    width: 30px;
    height: 30px;
}

input {
    height: 30px;
}
h3{
    font-weight: 300;
}
